# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb

# Angular
node_modules/
dist/
tmp/
temp/
.angular/
coverage/
